{{ define "index.html"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="static/css/buttons.css"/>
    <script src="static/js/jquery.js"></script>
    <title>工具包</title>
    <style>
        .bodyDiv{
            display: flex;
            justify-content: space-around;            
        }
        .bodyDiv div{
            height: 400px;
            width: 48%;
        }
        .bodyDiv div textarea{
            height: 98%;
            width: 99%;
        }
        .firstRow{
            display: flex;
            justify-content: left;
            margin-bottom: 5px;
            margin-left: 15px;
        }
        .firstRow div{
            height: 30px;
            line-height: 30px;
            margin-bottom: 10px;
        }
        
        .button-group{
            margin-left: 10px;
        }
        #inputContent{
            border: 1px solid #1B9AF7;
            height: 36px;
            width: 240px;
            padding-left: 10px;
            margin-left: 5px;
        }
    </style>
</head>
<body>
<div class="firstRow">
    <div class="className"><input type="text" id="inputContent" placeholder="请输入..."/></div>
    <div class="button-group">
        <button type="button" class="button button button-primary" onclick="mergeRequst();">MR</button>
        <button type="button" class="button button button-primary" onclick="convertSql(1);">insert</button>
        <button type="button" class="button button button-primary" onclick="convertSql(4);">update</button>
        <button type="button" class="button button button-primary" onclick="convertSql(6);">table-alias</button>
        <button type="button" class="button button button-primary" onclick="javaGetSet();">java-get-set</button>
        <button type="button" class="button button button-primary" onclick="java2Json();">java-json</button>
        <!-- <button type="button" class="button button button-primary" onclick="myReplace();">replace</button> -->
      </div>
</div>    
<div class="bodyDiv">
    <div class="codeDiv">
        <textarea id="leftContent" width="100%" autoHeight="true" placeholder=""></textarea>
    </div>
    <div class="viewDiv">
        <textarea id="rightContent" width="100%" autoHeight="true"></textarea>
    </div>
</div>

</body>

<script>
    // 初始化页面, 光标默认键入
    $('#inputContent').select();
    var alias = "";
    
    $("#leftContent").focus(function(event){
        this.select();
    });
    $("#inputContent").focus(function(event){
        this.select();
    });

    /**
     * 转换方法
     */
    function  convertSql(sence){
        
        // 获取表名
        var inputContent = $('#inputContent').val() || "";
        if(($('#inputContent').val() || "") == ''){
            
            $('#inputContent').attr("placeholder", "请输入表名和别名: table_name a");
            $('#inputContent').select();
            return
        }
        if(($('#leftContent').val() || "") == ''){
            $('#leftContent').attr("placeholder", "请输入字段: id, name, time");
            $('#leftContent').select();
            return
        }

        // 表名
        var tableName = inputContent.split(" ")[0];
        // 别名
        alias = inputContent.split(" ")[1] || "";
        alias = alias == '' ? tableName+'.' : alias+'.';

        // 获取左侧输入框的内容
        var fieldNameList = getInputContentFieldList();
        var newLines = [];

        switch(sence){
            case 1: // insert
                // 转换后的变量行列表
                var camelNameList = [];
                // 遍历每一行
                fieldNameList.forEach(function(fieldName){
                    if(isBlankLine(fieldName)){
                        return;
                    }
                    camelNameList.push("#{"+ toCamelWord(fieldName) +"}");
                });
                // 加 insert
                newLines.push(' ----------------  insert ----------------  ');
                newLines.push(' ');
                newLines.push("insert into " + tableName + "");
                newLines.push('    ('+fieldNameList.join(', ')+')')
                newLines.push('values');
                newLines.push('    ('+camelNameList.join(', ')+')');
                
            case 2:  // 批量insert
                // 转换后的变量行列表
                var camelNameList = [];
                // 遍历每一行
                fieldNameList.forEach(function(fieldName){
                    if(isBlankLine(fieldName)){
                        return;
                    }
                    camelNameList.push("#{item." + toCamelWord(fieldName)+"}");
                });
                // 加 insert
                newLines.push(' ');
                newLines.push(' ----------------  批量insert ----------------  ');
                newLines.push(' ');
                newLines.push("insert into " + tableName + "");
                newLines.push('    ('+fieldNameList.join(', ')+')')
                newLines.push('values');
                newLines.push('<foreach collection="list" item="item" separator=",">');
                newLines.push('    ('+camelNameList.join(', ')+')');
                newLines.push('</foreach>');

            case 3:  // 批量insert on duplicate key
                // 转换后的变量行列表
                var camelNameList = [];
                // 遍历每一行
                fieldNameList.forEach(function(fieldName){
                    if(isBlankLine(fieldName)){
                        return;
                    }
                    camelNameList.push("#{item." + toCamelWord(fieldName)+"}");
                });

                var keyValList = [];
                // 遍历每一个字段名
                fieldNameList.forEach(function(fieldName){
                    if(isBlankLine(fieldName)){
                        return;
                    }
                    keyValList.push(fieldName + " = #{item."+ toCamelWord(fieldName)+"}");
                });

                // 加 insert
                newLines.push(' ');
                newLines.push(' ----------------  批量insert on duplicate key ----------------  ');
                newLines.push(' ');
                newLines.push('<foreach collection="list" item="item" separator=";">');
                newLines.push("insert into " + tableName + "");
                newLines.push('    ('+fieldNameList.join(', ')+')')
                newLines.push('values');
                
                newLines.push('    ('+camelNameList.join(', ')+')');
                newLines.push('    on duplicate key update ');
                newLines.push(' ' + keyValList.join(', '));
                newLines.push('</foreach>');
                break;
            case 4:  
                var keyValList = [];
                // 遍历每一个字段名
                fieldNameList.forEach(function(fieldName){
                    if(isBlankLine(fieldName)){
                        return;
                    }
                    keyValList.push(fieldName + " = #{"+ toCamelWord(fieldName)+"}");
                });
                newLines.push(' ----------------  update ----------------  ');
                newLines.push(' ');
                newLines.push("    update " + tableName + " set ");
                newLines.push('    '+keyValList.join(', '));
                newLines.push('    where id = #{id}')
            case 5:
                // cid = #{cid}
                var keyValList = [];
                // 遍历每一个字段名
                fieldNameList.forEach(function(fieldName){
                    if(isBlankLine(fieldName)){
                        return;
                    }
                    keyValList.push(fieldName + " = #{item."+ toCamelWord(fieldName)+"}");
                });
                newLines.push(' ');
                newLines.push(' ----------------  批量update ----------------  ');
                newLines.push(' ');
                newLines.push('<foreach collection="list" item="item" separator=";">');
                newLines.push("    update " + tableName + " set ");
                newLines.push('    '+keyValList.join(', '));
                newLines.push('    where id = #{id}')
                newLines.push('</foreach>');
                break;
            case 6:
                newLines.push(alias + fieldNameList.join(', ' + alias));
                break;
        }
        // 将转换后的内容写入右侧输入框
        $('#rightContent').val(newLines.join('\n'));
        
    }

    // 将下划线 转成 驼峰
    function toCamelWord(word){
        var newOneWord = "";
        // 前一个字母
        var preLetter = '';
        word.split('').forEach(function(i){
            if(i != '_'){
                if(preLetter == '_'){
                    i = i.toUpperCase()
                }
                newOneWord += i;
            }
            preLetter = i;
        });
        return newOneWord;
    }

    // 判断是否是空行
    function isBlankLine(line){
        line = (line || "").trim();
        return line == "";
    }

    // 获取格式化后的输入的字段列表 例如 : id, name, age
    function getInputContentFieldList(){
        var content = $("#leftContent").val() || "";
        if( content == ""){
            return;
        }
        content = content.replace(new RegExp(" |\n|`","g"), '');
        content = content.toLowerCase();
        
        // 忽略的字段
        var ignoreFieldNames = ['id', 'mod_time', 'add_time', 'create_time', 'update_time'];
        var newLines = [];
        content.split(',').forEach(function(i){
            if($.inArray(i, ignoreFieldNames) == -1){
                newLines.push(i);
            }
        })
        return newLines;
    }


    /**
     * 转换方法
     */
     function javaGetSet(){
        // 获取目标类名
        var targetName = $('#inputContent').val() || "className";

        // 获取左侧输入框的内容
        var lines = getInputLines();
        var newLines = [];
        // 加3行判空
        newLines.push("if(null == "+ targetName +"){");
        newLines.push("    return null;");
        newLines.push("}");
        // 遍历每一行
        lines.forEach(function(line){
            if(isBlankLine(line)){
                return;
            }
            line = line.trim();
            var getMethodName = "g"+line.substring(line.indexOf(".") + 2, line.lastIndexOf(")") + 1);
            console.log(getMethodName);
            var replace = line.replace(")", "");
            var newLine = replace + targetName + "." + getMethodName + ");";
            newLines.push(newLine);
        });
        // 最后的return
        newLines.push('return ' + newLines[3].split('.')[0] + ";");
        // 将转换后的内容写入右侧输入框
        $('#rightContent').val(newLines.join('\n'));
    }

    /**
     * java 转成 json
     */
     function java2Json(){
        // 获取左侧输入框的内容
        var lines = getInputLines();
        if(lines.length == 0){
            return;
        }
        
        // 转换后的json行
        var jsonLineList = ["{"];
        var fieldObjList = getFieldObjList(lines);
        var total = fieldObjList.length;
        fieldObjList.forEach(function(i){
            total--;
            jsonLineList.push(getJsonLine(i.field, i.type, i.desc, total == 0));
        });

        // 将转换后的内容写入右侧输入框
        jsonLineList.push('}')
        $('#rightContent').val(jsonLineList.join('\n'));
    }

    //对字符串扩展
    String.prototype.resetBlank=function(){
        var regEx = /\s+/g; 
        return this.replace(regEx, ' '); 
    };


    // 获取json的行
    function getJsonLine( field, dataType, desc, isLatsed){
        var defaultVal = "\"\"";
        if($.inArray(dataType.toLowerCase(), ['integer', 'int', 'float', 'double', 'long', 'bigdecimal']) != -1){
            defaultVal = 1;
            dataType = "Number";
        }
        ['list', 'set', 'arraylist'].forEach(function(i){
            if(dataType.toLowerCase().indexOf(i) != -1){
                defaultVal = '["string01", "string02"]';
                dataType = "数组";    
            }
        });
        
        return "    \""+field+"\": " + defaultVal + (isLatsed ? "": ",") + " // "+ dataType +" "+ desc;
    }


    // 获取输入的行, 去掉空行
    function getInputLines(){
        var content = $("#leftContent").val() || "";
        if( content == ""){
            return [];
        }
        var lines = content.trim().split('\n');
        var newLines = [];
        lines.forEach(function(line){
            line = (line || "").trim();
            if(line == ''){
                return;
            }
            line = line.replace(';', '');
            line = line.resetBlank();
            newLines.push(line);
            
        });
        return newLines;
    }


    // 获取字段属性对象列表[(field, type, desc)]
    function getFieldObjList(lines){
        // 标记方法是否开始
        var methodFlag = false;
        var jsonObjList = [];
        // 注释
        var desc = "";
        // 遍历每一行
        lines.forEach(function(line){
            
            // 跳过包, 导包, 注释, 注解, 常量, 类
            if(line.indexOf('/*') != -1 || line.indexOf('*/') != -1 || line.startsWith('package') 
                || line.startsWith('import') || line.indexOf('@') != -1  
                || line.indexOf('static') != -1 || line.indexOf('final') != -1
                || line.indexOf('public class') != -1) {
                return;
            }
            
            // 跳过方法
            if(line.indexOf('{') != -1){
                methodFlag = true;
                return;
            }
            if(line.indexOf('}') != -1){
                methodFlag = false;
                return;
            }
            if(methodFlag){
                return;
            }
            
            if(line.startsWith('*') || line.startsWith('//')){
                // 得到注释
                line = line.replaceAll('*','');
                line = line.replaceAll('//','');
                line = line.trim() ;
                desc = line;
                return;
            }
            // 只处理 两个关键词的行
            if(line.indexOf('private') == -1 && line.indexOf('public') == -1){
                return;
            }

            // 变量名, 数据类型, 注释
            jsonObjList.push({
                'field': line.split(' ')[2],
                'type': line.split(' ')[1],
                'desc': desc
            });
            desc = "";
         
        });

        return jsonObjList;
    }

    
    function mergeRequst() {
        // 获取分支名称, 个人分支, 去掉后缀就是目标分支
        var privateBranch = $("#inputContent").val() || "";
        if(privateBranch == ''){
            $('#inputContent').attr("placeholder", "请输入个人分支");
            $('#inputContent').focus();
            return;
        }
        // 被指派人的id
        var assignee_ids = $("#leftContent").val() || "50";
        // 最后一个中划线
        // http://101.37.39.148:20080/smartgroup/smartadjava/-/merge_requests/new?merge_request%5Bsource_branch%5D=dev_1.0.0_0721-zls&merge_request%5Btarget_branch%5D=dev_1.0.0_0721
        var targetBranch = privateBranch.substring(0, privateBranch.lastIndexOf('_'));
        targetBranch = targetBranch.replaceAll('/', '%2F');
        if(privateBranch.indexOf('hotfix') != -1){
            targetBranch = "master";
        }
        privateBranch = privateBranch.replaceAll('/', '%2F');
        var url = "http://101.37.39.148:20080/smartgroup/smartadjava/-/merge_requests/new?merge_request%5Bsource_branch%5D="+ privateBranch +"&merge_request%5Btarget_branch%5D=" + targetBranch+"&merge_request[assignee_ids][]="+assignee_ids+"&merge_request[force_remove_source_branch]=1";
        console.log("url: "+ url);
        window.open(url);
    }


    function myReplace(){
        var suffix = "_hd"
        $("#rightContent").val("")
        // 多个单词
        var privateBranch = $("#inputContent").val() || "";
        if(privateBranch == ''){
            alert('请输入要替换的内容');
            $('#inputContent').focus()
            return;
        }
        privateBranch = privateBranch.replaceAll(suffix, "");
        // 被替换内容
        var leftContent = $("#leftContent").val() || "";
        if(leftContent == ''){
            alert('请输入被替换的内容');
            $('#leftContent').focus()
            return;
        }
        var results = [];
        var split = privateBranch.split(",")
        split.forEach(function(i){
            i = i.trim()
            if(i!= ""){
                var originStr = " " + i + " ";
                if(leftContent.indexOf(originStr) != -1){
                    results.push(i+suffix);
                    leftContent = leftContent.replaceAll(originStr, " " + i + suffix +" ")
                }
            }
            
        })
        $("#rightContent").val(results.join(", "))
    }
 
</script>
</html>
{{ end }}